<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen bg-zinc-800 text-white flex flex-col gap-3">
        <h1 class="text-3xl tracking-tighter mb-3">Add Product</h1>
        <a href="/read" class="bg-blue-500 rounded-lg px-3 py-2 w-20">See All Products</a>
        <a href="/createUser" class="bg-blue-500 rounded-lg px-3 py-2 w-20">SignUp</a>
        <a href="/login" class="bg-blue-500 rounded-lg px-3 py-2 w-20">Login</a>
        <form action="/create" method="post">
            <input name="name" type="text" class="px-5 py-2 border-2 border-zinc-800 outline-none bg-transparent" required placeholder="Name">
            <input name="company" type="text" class="px-5 py-2 border-2 border-zinc-800 outline-none bg-transparent" required placeholder="Company">
            <input name="price" type="number" class="px-5 py-2 border-2 border-zinc-800 outline-none bg-transparent" required placeholder="Price">
            <input type="submit" class="px-5 py-2 bg-blue-500 rounded-lg" placeholder="Add">
        </form>
    </div>
</body>
</html>