<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen bg-zinc-900 p-10 text-white flex flex-col gap-3">
        <h1 class="text-3xl tracking-tighter mb-3">All Product</h1>
        <a href="/logout" class="bg-blue-500 rounded-lg px-4 py-2 w-20 right-10 absolute">Logout</a>
        <hr>
        <div class="flex flex-col h-52 mt-10 gap-5">
            <a href="/createProduct" class="bg-blue-500 rounded-lg px-4 py-2 w-32">Add Product</a>
            <div class="products flex gap-3 flex-wrap">
                <% product.forEach(function(p){ %>
                    <div class="product w-44 p-4 bg-zinc-800 rounded-lg text-center">
                        <h3 class="text-xl tracking-tighter"><%= p.name %></h3>
                        <h4 class="tracking-tighter">Company: <%= p.company %></h3>
                        <h5 class="tracking-tighter">Price: <%= p.price %></h3>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
</body>
</html>